
:root {
  --light-blue: #e4f1fe;
  --blue: #8dc6ff; 
  --off-black: #22313f;
  --dark-gray: #34495e; 
  --offwhite: #f5f5f5;

  /* Blacks */
  --heading-black: #2e2e2e;
  --paragraph-black: #4E4E4E;
  --label-black: #6E6E6E;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--offwhite);
}

section {
  padding: 0 12px 0 12px ;
  background-color: var(--offwhite);
  color: var(--off-black);
}

h2, h4 {
  color: var(--heading-black)
}

/* ------ */
/* Header */
/* ------ */

header {
  display: flex;
  justify-content: center;
  background-color: var(--off-black);
  padding: 15px;
}

.logo {
  width: 200px;
}

/* ----- */
/* Album */
/* ----- */

.album-container {
  padding: 0.75em;
  margin-right: 8px;
  background-color: var(--offwhite);
  border-radius: 5px;
  color: var(--off-black);
  /* box-shadow: 0px 0px 0px 0.5px rgb(0, 0, 0, 0.25); */
}

.album-art {
  width: 150px;
  border-radius: 5px;
}

.album-container-text {
  margin: 4px 0 0 0;
}

.album-info {
  color: var(--label-black);
}

/* ----------- */
/* Discography */
/* ----------- */

.discography-display {
  display: inline-flex;
  overflow-x: auto;
  width: 100%;
  padding-bottom: 10px;
}

.discography-section {
  background-color: white;
  height: 90vh;
}

.row {
  margin-bottom: 24px;
}

/* ------ */
/* Footer */
/* ------ */

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--off-black);
  font-size: 14px;
  color: white;
  margin-top: auto;
  padding: 25px;
  min-height: 5vh;
}

@media only screen and (min-width: 943px) {
  .discography-section {
    margin: 0 auto;
    width: 943px;
  }
}